@{
    ViewData["Title"] = "Home";
}

<div class="text-center" style=" display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;">
    <h1 class="display-4"> THIS IS DASHBOARD VIEW</h1>   
</div>
